* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.7fr;
    grid-template-rows: 1fr 2fr 1.5fr 0.7fr;
    height: 100vh;
    width: 80vh;
    gap: 20px;
    padding: 20px;
}

.content{
    border: 2px solid;
    background-color: rgb(66, 106, 227);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}