* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.box1 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 20px;
  padding: 40px;
  border: 1px solid blue;
  background-color: #4169e1;
  color: #fff;
}
/* 
.sbox1 {
  display: inline;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 100px;
  border: 1px solid blue;
  background-color: #4169e1;
  color: #fff;
} */
